<style>
    #h1 {
        background-color: black;
        padding: 10px;
    }
    #a:link {
        color: white;
    }
    #a:visited {
        color: white;
    }
    a {
        text-decoration: none;
    }
</style>

<h1 id="h1"><a id="a" href="/">Inventory App</a></h1>